---
- name: "Incident: Validar campos obrigatórios para Criação"
  ansible.builtin.assert:
    that:
      - snow_data.caller_id is defined
      - snow_data.business_service is defined
      - snow_data.service_offering is defined
      - snow_data.category is defined
      - snow_data.short_description is defined
      - snow_data.assignment_group is defined
    fail_msg: "ERRO: Faltam campos obrigatórios! Verifique: caller_id, business_service, service_offering, category, short_description, assignment_group."

- name: "Incident: Criar novo incidente (Campos Obrigatórios)"
  servicenow.itsm.incident:
    instance: "{{ snow_connection_args.instance }}"
    state: new
    caller: "{{ snow_data.caller_id }}"
    short_description: "{{ snow_data.short_description }}"
    impact: "{{ snow_data.impact | default(omit) | string }}"
    urgency: "{{ snow_data.urgency | default(omit) | string }}"
    description: "{{ snow_data.description | default(omit) }}"

    other:
      business_service: "{{ snow_data.business_service }}"
      service_offering: "{{ snow_data.service_offering }}"
      category: "{{ snow_data.category }}"
      assignment_group: "{{ snow_data.assignment_group }}"
      subcategory: "{{ snow_data.subcategory | default(omit) }}"
      contact_type: "{{ snow_data.contact_type | default(omit) }}"
      cmdb_ci: "{{ snow_data.cmdb_ci | default(omit) }}"
      watch_list: "{{ snow_data.watch_list | default(omit) }}"
      work_notes: "{{ snow_data.work_notes | default(omit) }}"

  register: result_incident_create

- name: "Incident: Debug Criação"
  ansible.builtin.debug:
    msg: "Incidente criado: {{ result_incident_create.record.number }} ({{ result_incident_create.record.sys_id }})"
