---
# tasks/dispatcher/main.yml

- name: "Bloco Principal do Dispatcher"
  block:
    - name: "Dispatcher: Executar ação [{{ snow_action }}] para entidade [{{ snow_entity }}]"
      ansible.builtin.include_tasks: "modules/{{ snow_entity }}/{{ snow_action }}.yml"
      args:
        apply:
          tags:
            - servicenow
            - "snow_{{ snow_entity }}"

  rescue:
    - name: "Erro no Dispatcher"
      ansible.builtin.fail:
        msg: >-
          Falha ao tentar executar o módulo.
          Verifique se o ficheiro 'tasks/modules/{{ snow_entity }}/{{ snow_action }}.yml' existe
          e se os parâmetros em 'snow_data' estão corretos.
          Erro original: {{ ansible_failed_result | default('Desconhecido') }}
