---
# tasks/main.yml

- name: "Validação: Verificar variáveis obrigatórias"
  ansible.builtin.assert:
    that:
      - snow_instance is defined
      - snow_username is defined
      - snow_password is defined
      - snow_entity is defined
      - snow_action is defined
    fail_msg: "Faltam variáveis obrigatórias para conectar ao ServiceNow ou definir a ação."

- name: "Dispatcher: Iniciar roteamento de módulo"
  ansible.builtin.include_tasks: dispatcher/main.yml
