---
- name: "Change: Criar solicitação de mudança"
  servicenow.itsm.change_request:
    instance: "{{ snow_connection_args.instance }}"
    username: "{{ snow_connection_args.username }}"
    password: "{{ snow_connection_args.password }}"
    validate_certs: "{{ snow_connection_args.validate_certs }}"

    state: new
    type: "{{ snow_data.type | default('normal') }}"
    short_description: "{{ snow_data.short_description | default('Change Request via Ansible') }}"
    description: "{{ snow_data.description | default(omit) }}"
    priority: "{{ snow_data.priority | default(omit) }}"
    risk: "{{ snow_data.risk | default(omit) }}"
    requested_by: "{{ snow_data.requested_by | default(omit) }}"
  register: result_change_create
