---
- name: "REQ: Validar Identificador"
  ansible.builtin.assert:
    that:
      - (snow_data.number is defined) or (snow_data.sys_id is defined)
    fail_msg: "ERRO: Informe 'number' ou 'sys_id' para atualizar o Request."

- name: "REQ: Atualizar Request"
  servicenow.itsm.catalog_request:
    instance: "{{ snow_connection_args.instance }}"

    # Identificação
    number: "{{ snow_data.number | default(omit) }}"
    sys_id: "{{ snow_data.sys_id | default(omit) }}"

    # Campos Principais
    state: "{{ snow_data.state | default(omit) }}"
    assignment_group: "{{ snow_data.assignment_group | default(omit) }}"
    assigned_to: "{{ snow_data.assigned_to | default(omit) }}"
    short_description: "{{ snow_data.short_description | default(omit) }}"
    description: "{{ snow_data.description | default(omit) }}"

    # Campos Adicionais
    other:
      request_state: "{{ snow_data.request_state | default(omit) }}"
      stage: "{{ snow_data.stage | default(omit) }}"
      special_instructions: "{{ snow_data.special_instructions | default(omit) }}"
      comments: "{{ snow_data.comments | default(omit) }}"
      work_notes: "{{ snow_data.work_notes | default(omit) }}"

  register: result_req_update

- name: "REQ: Debug Atualização"
  ansible.builtin.debug:
    msg: "Request {{ result_req_update.record.number }} atualizado com sucesso. Estado: {{ result_req_update.record.state | default('N/A') }}"
  when: result_req_update.record is defined
